body {
  // background-color: white;
  overflow: hidden;
  height: 100%;
}

#resizer {
  resize: both;
  border: solid white 1px;
}

.draggable {
  resize: both;
}

.Whead {
  margin-top: 10vh;
  margin-bottom: 0px;
  width: calc(10px + 60vw);
  margin-left: 20vw;
  height: 20px;
  background-color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 30px;
  color: white;
}

.icon {
  width: 13px;
  height: 13px;
  float: left;
  border: solid 1px;
  margin-top: 6px;
  margin-right: 10px;
  z-index: 10;
}

#icon_exit {
  background-color: rgb(231, 16, 16);
  border-radius: 20px;
  margin-left: 8px;
}

#icon_minimize {
  background-color: yellow;
  border-radius: 20px;
}

#icon_maximize {
  background-color: green;
  border-radius: 20px;
}

.icon_img {
  float: left;
  width: 24px;
  margin-left: calc(30vw - 180px);
}

#head_text {
  height: 20px;
  margin-top: 0px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

#head_cover {
  height: 20px;
  font-size: 14px;
  vertical-align: top;
}

.Wbody {
  margin-left: 20vw;
  background-color: rgb(44, 44, 44);
  height: 80vh;
  width: 60vw;
  border: 5px solid black;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  resize: both;
}
